* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  text-align: center;
}

header {
    background-color: #4AB19A;
    height: 3em;
    width: 100%;
  position: fixed;
  z-index: 1;
}

nav {
  ul {
    position: fixed;
    text-align: right;
    width: 100%;
    list-style: none;
  }
  li {
    display: inline-block;
    padding: 1em;
  }
  a {
    color: black;
    text-decoration: none;
    transition: color 200ms;
  }
  a:hover {
    color: orange;
    cursor: pointer;
  }
}

#welcome-section {
  background-color: #4AB19A;
  height: 100vh;
  padding-top: 35vh;
  img {
    padding-top: 1em;
  }
  p {
    padding-top: 1em;
  }
}

#projects {
  padding: 2em;
  background-color: #e0ebe8;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  img {
    max-width: 100%;
    border-radius: 10px 10px;
    transition: all .25s ease;
  }
  
  img:hover {
    transform: scale(1.05);
    z-index: 0;
  }

  .project-title {
    width: calc(100%/3);
    padding: 25px 10px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

a#profile-link {
    display: block;
    margin: 0em auto;
    width: 25%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background-color: #4AB19A;
  border-radius: 5px 5px;
  
  #complete {
  padding: 1em;
  }
  
  :hover {
    color: white;
  }
}

#help {
  width: 50%;
  margin: 0 auto;
  padding-top: 1em;
}

#contact {
  margin: 4em 0;

  .profile-link {
    display: inline-block;
    text-decoration: none;
    padding: 2em 1em;
  }
}

#master {
  display: flex;
  flex: 1;
  min-height: 50vh;
  align-items: center;
  justify-content: center;

  button:hover {
    cursor: pointer;
  }
}

.key {
  border: .25rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  width: 12rem;
  transition: all .07s ease;
  text-align: center;
  color: #e0ebe8;
  background: #4AB19A;
  text-shadow: 0 0 .1rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #F6D546;
  box-shadow: 0 0 1rem #ffc600;
}
